@import '_variables.sass';

html
	box-sizing: border-box;
	height: 100%;
	line-height: 1.5;

.wrapper
	background: $color-light-merlot url('../assets/backgrounds/background-lights-purple-circles.jpg') 50% -14% no-repeat / cover;
	background-blend-mode: lighten;
	color: $text;
	display: block;
	font: 1rem/1.5 $font-stack-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;

h1, h2, h3,
h4, h5, h6
	font-family: $font-stack-sans-serif2;
	margin: 0;

main
	margin-bottom: 5rem;
	position: relative;
	top: 5rem;

	.container
		a,
		a:visited,
		a:link
			color: $text3;

			&:hover
				color: $text4;
				text-decoration: underline;

		.content
			p
				text-align: left;

		i
			color: $text3;
			display: inline-block;
			font-size: 2.4rem;
			margin-right: .5rem;
