$font-stack-serif: 'Playfair Display', 'Times New Roman', 'Times', serif;
$font-stack-sans-serif: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$font-stack-sans-serif2: 'Oswald', sans-serif;

$base-font-size: 15px;
$base-font-size-tablet: 17px;

$border-radius: .25rem;
$border-radius-round: 50%;
$border-radius-none: 0;

$color-white: #fff;
$color-grey: #777;
$color-black: #000;
$color-gold: #cfb278 // Gold
$color-dark-gold: #8f713d // Dark Gold
$color-light-gold: #ffffde //Light Gold
$color-merlot: #2b0616; // Merlot 43, 6, 22
$color-light-merlot: #543240 // Light Merlot
$color-brown: #692e24; // Brown
$color-purple: #5e08cc; // Bright Purple
$color-reddish-purple: #570656; // Reddish Purple
$color-green: rgb(19, 91, 98); // Medium Dark Green

$background: $color-merlot;
$background2: $color-white;
$background3: $color-black;
$background4: $color-brown;

$text: $color-white;
$text2: $color-black;
$text3: $color-merlot;
$text4: $color-brown;
$text5: $color-grey;
$text6: $color-reddish-purple;
$anchor-text: $text5;
$anchor-text-hover: $text6;

$text-shadow: .15rem .10rem $text5;

$mobile: 479px;
$mobile-large: 480px;
$tablet-small: 560px;
$tablet: 768px;
$tablet-large: 920px;
$tablet-xlarge: 1110px;
$desktop: 1280px;
$desktop-large: 1440px;
$desktop-xlarge: 1960px;
